@import './base.css';

#app {
  max-width: var(--page-max-width);
  margin: 0 auto;
  padding: 1.5rem 1.25rem 3rem;
  width: 100%;
}

@media (min-width: 768px) {
  #app {
    padding: 2.5rem 2rem 4rem;
  }
}
